body{
    /* height: 200; */
    background-image: url("https://images.pexels.com/photos/5723324/pexels-photo-5723324.jpeg");
    /* background-color: rgb(201, 231, 229); */
    background-size: 100% 100%;
}

.has-bg-img {
    background-image: url("https://images.pexels.com/photos/1040499/pexels-photo-1040499.jpeg");
    background-size: 510px 420px;
}
.modal-card-head{
    border-bottom: 1px solid black;
    background-color: rgb(240, 240, 18);
}
.modal-card{
    border: 1px solid black;
}
.modal-card-foot{
    border-top: 1px solid black;
    background-color: rgb(240, 240, 18);
}

